$accent:#2B4074;
$text-color:#4a4a4a;
$bg-color:#F9F6E5;
$default-color:#9b9b9b;


%dosis-300{
    font-family: 'Dosis-Light';
    font-weight: 300;
}
%dosis-500{
    font-family: 'Dosis-Medium';
    font-weight: 500;
}

%RobotoCondensed-400{
    font-family: 'RobotoCondensed-Regular';
    font-weight: 400;
}
%RobotoCondensed-700{
    font-family: 'RobotoCondensed-Bold';
    font-weight: 700;
}

%roboto-500{
    font-family: 'Roboto-Medium';
    font-weight: 500;
}